/* PlayerContainer.css

.container {
    flex-grow: 1;
    padding: 16px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 768px) {
    .grid-container {
        flex-direction: row;
    }
}

.grid-item {
    flex: 1;
}

.heading {
    text-align: center;
    margin-bottom: 16px;
}

.no-favorites {
    text-align: center;
} */
